@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  background-image: radial-gradient(rgb(137, 137, 233) 1px, transparent 1px), radial-gradient(rgb(210, 167, 167) 1px, #111 1px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  font-family: "barlow", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  gap: 15px;
  justify-content: center;
  max-width: 1125px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  gap: 25px;
  padding-bottom: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card h1 {
  font-weight: 500;
  font-size: 26px;
}
.card p {
  font-weight: 500;
  color: #777;
}
.card img {
  width: 100%;
  cursor: pointer;
}

.card :not(img) {
  padding: 0 25px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}
ul li {
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  padding: 0 !important;
}

.API {
  color: #aad742;
}

.JS {
  color: #cf6390;
}

.CSS {
  color: #3e54a3;
}

.HTML {
  color: #6abecd;
}

a:active, a:visited, a:link {
  color: black;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.level-card {
  font-size: 14px;
  margin-left: auto; 
  flex-direction: row;
  display: flex;
  width: fit-content;
  gap: 5px;
  text-transform: uppercase;
  font-weight: 600;
  align-items: center;
}

.level-number {
  padding: 2px 8px !important;
  color: white;
}

.level {
  text-align: center;
  padding: 2px 8px 2px 4px!important;
}

.newbie {
  text-align: center;
  color: #6abecd;
  border: 1px solid #6abecd;
  border-radius: 4px;
  padding: 0 !important;
}

.newbie .level-number{
  background: #6abecd;
}

.junior {
  text-align: center;
  color: #aad742;
  border: 1px solid #aad742;
  border-radius: 4px;
  padding: 0 !important;
}

.junior .level-number{
  background: #aad742;
}

.intermediate {
  text-align: center;
  color: #f1b604;
  border: 1px solid #f1b604;
  border-radius: 4px;
  padding: 0 !important;
}

.intermediate .level-number{
  background: #f1b604;
}

.advanced {
  text-align: center;
  color: #f48925;
  border: 1px solid #f48925;
  border-radius: 4px;
  padding: 0 !important;
}

.advanced .level-number{
  background: #f48925;
}

.guru {
  text-align: center;
  color: #ed2c49;
  border: 1px solid #ed2c49;
  border-radius: 4px;
  padding: 0 !important;
}

.guru .level-number{
  background: #ed2c49;
}