@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217deg, 54%, 11%);
}

.row {
  align-items: center;
  display: flex;
}

.main {
  background-color: hsl(216deg, 50%, 16%);
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 25px;
  border-radius: 12px;
  font-family: "Outfit";
  font-size: 18px;
  gap: 20px;
}

img {
  width: 100%;
  height: 100%;
}

.img-eth {
  border-radius: 10px;
}

.img-avatar {
  width: 50px;
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 100%;
}

.icon-clock {
  width: 20px;
  margin-left: auto;
}

.icon-eth {
  width: 15px;
}

.price-box {
  border-bottom: 1px solid hsl(215deg, 32%, 27%);
  padding-bottom: 15px;
}

.clr-white {
  color: hsl(0deg, 0%, 100%);
}

.clr-softBlue {
  color: hsl(215deg, 51%, 70%);
}

.clr-cyan {
  color: hsl(178deg, 100%, 50%);
}

h3 {
  font-weight: 400;
}

.price-box {
  gap: 8px;
}

.avatar-box {
  gap: 25px;
}

.image-box {
  position: relative;
  width: 350px;
  height: 350px;
  cursor: pointer;
}
.image-box:hover .img-shadow {
  display: block;
}

.img-eth {
  position: absolute;
}

.img-shadow {
  display: none;
  background: hsla(178deg, 100%, 50%, 0.35);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-shadow .icon-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

h1, span, .eth {
  transition: color ease 300ms;
}

h1:hover, span:hover, .eth:hover {
  color: hsl(178deg, 100%, 50%);
  cursor: pointer;
}
