@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

i {
    @apply border;
    @apply p-2;
    @apply rounded-full;
    @apply w-8;
    @apply h-8;
    @apply hover:text-clrmagneta;
    @apply hover:border-clrmagneta;
    @apply transition-colors;
    @apply delay-100;
    @apply cursor-pointer;
    @apply text-center
}


@media screen and (min-width: 650px) {
    main {
        background-image: url(images/bg-desktop.svg);
    }

    .info {
        width: 400px;
        @apply mt-16;
    }
}