/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Improve typography */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 4. Make images easier to work with */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 5. Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}


ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
